<%= render 'users/header' %>

<div class="container" style="margin-top: 0px;">
  <div class="row">
    <div class="col-xs-12 col-sm-7"><%= render "users/user_desc" %></div>
    <% if @user.start_time.nil? %>
      <div class="col-xs-12 col-md-4 col-md-offset-1" style="position: relative;">
        <div class="box-right-imbricated start-dealing">
          <div class="make-a-deal">
            <h2 class="text-center">Start dealing</h2>
          </div>
            <%= simple_form_for([@user]) do |f| %>
              <%= f.input :address %>
              <%= f.input :zipcode %>
              <%= f.input :city, collection: CITIES %>
              <%= f.input :start_time, label: "When does your shift start?", input_html: { min: "00", max: "24" } %>
              <%= f.input :end_time, label: "When does your shift end?", input_html: { min: "00", max: "24" } %>
              <%= f.input :description, label: "Tell us a bit about yourself (will appear on your public page)" %>
              <%= f.button :submit, class: "btn btn-primary form-button" %>
            <% end %>
        </div>
      <% else %>
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <div class="box-right-imbricated">
          <div class="make-a-deal">
            <h2 class="text-center">Deal a new drug</h2>
          </div>
          <%= simple_form_for([@user, @item]) do |f| %>
            <%= f.input :name, collection: DRUGS, prompt: "Pick a product", id: "item" %>
            <%= f.input :price, label: "Price per gram" %>
            <%= f.button :submit, class: "btn btn-primary form-button" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="grey" style="margin-top: 10px; <%= "height: 550px" if @user.items == [] && @user.orders == [] %>">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>About <%= @user.first_name.nil? || @user.first_name == "" ? @user.name : @user.first_name %></h2>
        <p><%= @user.description %></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Your products</h2>
        <% if @user.items == [] %>
          <p>You have no drugs yet, start dealing with us today!</p>
        <% else %>
          <ul class="list-unstyled">
            <% @user.items.each do |item| %>
              <li class="align-left">
                <div><p>
                  <% unless item.in_stock %>
                    OUT OF STOCK -
                  <% end %>
                  <%= item.name %>: <%= item.price %>€ / gram</p>
                </div>
                <div>
                <% if item.in_stock %>
                  <%= link_to "Declare out of stock", out_of_stock_path(@user, item), class: "btn btn-danger custom"%>
                <% else %>
                  <%= link_to "Declare back in stock", back_in_stock_path(@user, item), class: "btn btn-primary custom" %>
                <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <% unless @user.deals == [] %>
          <div class="row">
            <div class="col-xs-12">
              <h2>Your ratings</h2>
              <p><strong>Average score: <%= average_score(@user) %>/5</strong></p>
              <ul class="list-unstyled">
                <% @user.deals[0...5].each do |deal| %>
                  <% unless deal.rating.nil? %>
                    <li>
                      <%= deal.rating == 0 ? 0 : "*" * deal.rating %> by <%= deal.user.name %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% unless @user.orders == [] && @user.deals == [] %>
      <!-- <hr class="dark-hr"> -->
      <p id="deals"></p>
      <%= render "deals/list", deal: false %>
    <% end %>
  </div>
</div>
