<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <h2>Edit</h2>
      <%= simple_form_for(current_user) do |f| %>
        <div class="form-inputs">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :address %>
          <%= f.input :city, collection: CITIES %>
          <%= f.input :zipcode %>
          <%= f.input :start_time, input_html: { min: "00", max: "24"} %>
          <%= f.input :end_time, input_html: { min: "00", max: "24"} %>
          <%= f.input :description %>
          <%= f.input :photo, as: :attachinary %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
