<div id="page-content">
  <div class="src-filters">
    <form action="/users" class="form-inline">

      <div class=" row src-filter-wrapper">
        <div class="form-group">
          <% DRUGS.each do |drug| %>
            <div class="col-xs-12" id="check-button">
              <label class="checkbox inline">
                <% if params[:drug].nil? %>
                  <%= check_box_tag 'drug[]', drug %>
                <% elsif params[:drug].include?(drug) %>
                  <%= check_box_tag 'drug[]', drug, :checked => true %>
                <% else %>
                  <%= check_box_tag 'drug[]', drug %>
                <% end %>
                <span><%= drug %></span>
                </br>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row src-filter-wrapper">
        <div class="col-xs-5">
          <div class="form-group">
            <label>City</label>
            <select name="city" class="form-control">
              <% if params[:city].nil? || params[:city] == "" %>
                <option value="" selected>Select city</option>
              <% end %>
              <% CITIES.each do |city| %>
                <% if params[:city] == city %>
                  <option selected><%= city %></option>
                <% else %>
                  <option><%= city %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>

        <div class='col-xs-4'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker3'>
              <label>Time</label>
              <% if params[:time].nil? || params[:time] == "" %>
                <input name="time" id="time" type='text' class="form-control" />
              <% else %>
                <input name="time" id="time" type='text' class="form-control" value="<%= params[:time] %>" />
              <% end %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
        <% content_for(:scripts) do %>
          <%= javascript_tag do %>
            $(function () {
              $('#datetimepicker3').datetimepicker({
                  format: 'LT'
              });
            });
          <% end %>
        <% end %>


        <div class="col-xs-3">
          <div class="form-group">
            <div>
              <input type="submit" class="btn btn-primary" value="Find your dealer!">
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>

  <% @filtered_dealers.each do |dealer| %>
    <% random_photo = "http://api.randomuser.me/portraits/#{rand > 0.5 ? "men" : "women"}/#{(rand * (96 - 1) + 1).round}.jpg" %>
    <%= link_to dealer do %>
      <div class="product">

        <% if dealer.photo.nil? %>
          <img src="<%= random_photo %>" alt="<%= dealer.name %>" class="product-image">
        <% else %>
          <%= cl_image_tag dealer.photo.path, class: "product-image" %>
        <% end %>

        <div class='product-body'>
          <h3><%= dealer.name %>
            <span>
              <i class="fa fa-clock-o"></i>
              <%= dealer.start_time.to_s + "h - " + dealer.end_time.to_s + "h" %>
            </span>
          </h3>
          <p><%= dealer.address + ", " + dealer.zipcode + " " + dealer.city %></p>
        </div>

        <div class='product-drugs'>
          <p>
            <ul class='list-inline'>
              <% dealer.items.each do |item| %>
                <li class="product-drug">
                  <%= item.name %>
                </li>
              <% end %>
            </ul>
          </p>
        </div>

        <ul class="list-inline product-controls-list">
          <% if dealer.deals.length == 0 %>
            <% 5.times do %>
              <li><i class="fa fa-star product-controls"></i></li>
            <% end %>
          <% else %>
            <% average_score(dealer).times do %>
              <li><i class="fa fa-star product-controls" id="full-star"></i></li>
            <% end %>
            <% (5 - average_score(dealer)).times do %>
              <li><i class="fa fa-star product-controls"></i></li>
            <% end %>
          <% end %>
        </ul>

      </div>
    <% end %>
  <% end %>
</div>

<div id="fixed-map">
  <div id="map" style="width: 100%; height: 600px;"></div>
</div>

<% content_for(:scripts) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

