<div id="page-content">
  <div class="src-filters">
    <form action="/users" class="form-inline">

      <div class=" row src-filter-wrapper">
        <div class="form-group">
          <% DRUGS.each do |drug| %>
            <div class="col-xs-12" id="check-button">
              <label class="checkbox inline">
                <input type="checkbox" name="drug" value="<%= drug %>">
                <span><%= drug %></span>
                </br>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row src-filter-wrapper">
        <div class="col-xs-4">
          <div class="form-group">
            <label>City</label>
            <select name="city" class="form-control">
              <option value="" selected>Select city</option>
              <% CITIES.each do |city| %>
                <option><%= city %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group">
            <label>Time</label>
            <select name="time" class="form-control">
              <option value="" selected>Select time</option>
              <% (1..23).each do |i| %>
                <option value="<%= i %>"><%= i %>h00</option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group">
            <div>
              <input type="submit" class="btn btn-primary" value="Find your dealer!">
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>



  <% @filtered_dealers.each do |dealer| %>
    <% random_photo = "http://api.randomuser.me/portraits/#{rand > 0.5 ? "men" : "women"}/#{(rand * (96 - 1) + 1).round}.jpg" %>
    <%= link_to dealer do %>
      <div class="product">

        <div class='product-upvote'>
          <i class="fa fa-thumbs-o-up"></i>
          <div class='product-count'><%= dealer.deals.length == 0 ? 0 : average_score(dealer) %></div>
        </div>

        <% if dealer.photo.nil? %>
          <img src="<%= random_photo %>" alt="<%= dealer.name %>" class="product-image">
        <% else %>
          <%= cl_image_tag dealer.photo.path, class: "product-image" %>
        <% end %>

        <div class='product-body'>
          <h3><%= dealer.name %>
            <span>
              <i class="fa fa-clock-o"></i>
              <%= dealer.start_time.to_s + "h - " + dealer.end_time.to_s + "h" %>
            </span>
          </h3>
          <p><%= dealer.address + ", " + dealer.zipcode + " " + dealer.city %></p>
        </div>

        <div class='product-drugs'>
          <p>
            <ul class='list-inline'>
              <% dealer.items.each do |item| %>
                <li class="product-drug">
                  <%= item.name %>
                </li>
              <% end %>
            </ul>
          </p>
        </div>

        <i class="fa fa-star product-controls"></i>

      </div>
    <% end %>
  <% end %>
</div>

<div id="fixed-map">
  <div id="map" style="width: 100%; height: 100%;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(35.669314, 139.751801);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: []
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
  </script>
</div>

