
<div class= "text-center">
  <div class="banner" style="background-image: url(<%= asset_path 'homepage.png' %>);">
    <div class="banner-gradient"></div>
    <div class="banner-content">
      <h1>Find any drugs around the world</h1>
      <div class="search-container">


      <form action="#" class="form-inline search-bar">
          <input type="text" class="form-control" placeholder="marijuana">
          <select name="city" class="form-control">
              <option value="" selected>Select city</option>
              <% CITIES.each do |city| %>
                <option><%= city %></option>
              <% end %>
          </select>
          <select name="time" class="form-control">
              <option value="" selected>Select time</option>
              <% (1..23).each do |i| %>
                <option value="<%= i %>"><%= i %>h00</option>
              <% end %>
          </select>
           <%= link_to "Find your dealer!", users_path, class: "btn btn-success"%>

        </form>
       </div>
    </div>
  </div>
</div>
