<div class="tabs">
  <a class="tab text-center <%= "active" unless deal %>" style="background-color: <%= deal ? "white" : "#F0F0F0" %>" data-target="#orders">
    <h2 class="tab-title">Your Orders</h3>
  </a>
  <a class="tab text-center <%= "active" if deal %>" style="background-color: <%= deal ? "white" : "#F0F0F0" %>" data-target="#deals">
    <h2 class="tab-title">Your Deals</h3>
  </a>
</div>

<div class="tab-content <%= "hidden" if deal %>" style="background-color: <%= deal ? "#F0F0F0" : "white" %>" id= "orders">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-xs-12 col-md-6">
        <div class="order-listing">
          <h3>Pending</h3>
          <ul class="padded-list list-unstyled flex-list deal-list">
            <% @user.orders.each_with_index do |order, index| %>
              <% if order.status == "Pending" %>
                <li>
                  (<%= order.created_at.strftime("%d-%m-%y: %Hh%M") %>) <%= order.total_price %>€ | <%= order.item.name.upcase %> <br>
                  from <%= order.item.user.name %>  | status: <%= order.status %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="order-listing">
          <h3>Other</h3>
          <ul class="padded-list list-unstyled flex-list deal-list">
            <% @user.orders.each_with_index do |order, index| %>
              <% unless order.status == "Pending" %>
              <li>
                (<%= order.created_at.strftime("%d-%m-%y: %Hh%M") %>) <%= order.total_price %>€ | <%= order.item.name.upcase %> <br>
                  from <%= order.item.user.name %>  | status: <%= order.status %>
                  <% if order.rating.nil? %>
                    <div class="deal-buttons">
                      Rate this deal:
                      <% (1..5).each do |n| %>
                        <%= link_to rate_path(@user.id, order.id, rating: n) do %>
                          <i class="fa fa-star"></i>
                        <% end %>
                      <% end %>
                    </div>
                  <% else %>
                  (You rated this: <%= order.rating %>)
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-content <%= "hidden" unless deal %>" style="background-color: <%= deal ? "#F0F0F0" : "white" %>;"  id="deals">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="order-listing">
          <h3>Pending</h3>
          <ul class="padded-list list-unstyled flex-list deal-list">
            <% @user.deals.each_with_index do |deal, index| %>
              <% if deal.status == "Pending" %>
                <li>
                  (<%= deal.created_at.strftime("%d-%m-%y: %Hh%M") %>) <%= deal.total_price %>€ | <%= deal.item.name.upcase %> <br>
                  from <%= deal.item.user.name %>  | status: <%= deal.status %>
                  <% unless deal.message.nil? %>
                    <br>>> Message:<br>>> <%= deal.message %>
                  <% end %>
                  <div class="deal-buttons">
                    <%= link_to "Accept deal", "/users/#{@user.id}/deals/#{deal.id}/accept", class: "btn btn-primary btn-sm" %>
                    <%= link_to "Reject deal", "/users/#{@user.id}/deals/#{deal.id}/cancel", class: "btn btn-danger btn-sm" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="order-listing">
          <h3>Other</h3>
          <ul class="padded-list list-unstyled flex-list deal-list">
            <% @user.deals.each_with_index do |deal, index| %>
              <% unless deal.status == "Pending" %>
                <li>
                  (<%= deal.created_at.strftime("%d-%m-%y: %Hh%M") %>) <%= deal.total_price %>€ | <%= deal.item.name.upcase %> <br>
                  from <%= deal.item.user.name %>  | status: <%= deal.status %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:scripts) do %>
  <script>
    $(function(){

      $(".tab").on("click", function(e){
        // Change active tab
        $('.tab').removeClass('active')
        $(this).addClass('active')
        $('.tab-content').addClass('hidden')
        var hash = $(this).data("target")
        $(hash).removeClass('hidden')
        // Hide all tab-content (use class="hidden")

        // Show target tab-content (use class="hidden")
      });

    });
  </script>
<% end %>

